asgiref==3.7.2
Django==4.2.6
Pillow==9.5.0
sqlparse==0.4.4
typing_extensions==4.8.0
retina-face==0.0.13
onnxruntime==1.16.1
opencv-python==4.8.1.78
transformers==4.34.0
sentencepiece==0.1.99
pymorphy2==0.9.1
pymorphy2-dicts-ru==2.4.417127.4579844
opencv-contrib-python==4.8.0.76
opencv-python-headless==4.8.1.78
sacremoses==0.0.53
accelerate==0.22.0
diffusers==0.21.4
tensorflow-hub==0.15.0
numpy==1.23.5
protobuf==4.24.4
